.fixed-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.star-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gold;
  font-size: 20px;
}

.custom-card {
  background-color: #b3b2b2;
}

/* Additional styles for the switch alignment */
.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

/* Adjust switch position */
.form-check.form-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional styles for improving switch appearance */
.form-switch .form-check-input {
  width: 40px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
}
