<div class="container vh-100">
  <div class="container text-center mt-2">
    <div class="h1">Appointments</div>
  </div>
  <table class="table table-dark table-bordered table-hover text-center">
    <thead class="thead-dark text-center">
    <tr class="table-header">
      <th scope="col">Nr.Crt</th>
      <th scope="col">Time</th>
      <th scope="col">Doctor</th>
      <th scope="col">Owner</th>
      <th scope="col">Status</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody class="table-tabs text-center" *ngIf="appointments">
    <tr *ngFor="let appointment of appointments">
      <td>{{appointment.id}}</td>
      <td>{{appointment.appointmentDate | date: 'MM/dd/yyyy, hh:mm a' }}</td>
      <td>Dr {{appointment.doctorLastName}}</td>
      <td>{{appointment.owner.firstName}} {{appointment.owner.lastName}}</td>
      <td>{{appointment.status}}</td>
      <td>
        <button class="btn btn-success" (click)="processAppointment(appointment.id, appointment.doctorLastName)" [disabled]="appointment.status === 'FINISHED' " >
          <fa-icon icon="check"></fa-icon> Process
        </button>
      </td>
      <td>
        <button class="btn btn-warning" (click)="updateAppointment(appointment.id)">
          <fa-icon icon="edit"></fa-icon> Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteAppointment(appointment.id)">
          <fa-icon icon="trash-alt"></fa-icon>  Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="col-1 mt-2">
    <button class="btn btn-dark" (click)="createAppointment()">
      <fa-icon icon="plus"></fa-icon>  Create
    </button>
  </div>
</div>
