<div class="container vh-100">
  <div class="container text-center mt-2 ">
    <div class="h1">Users</div>
  </div>
  <table class="table table-dark table-bordered table-hover text-center">
    <thead class="thead-dark text-center">
    <tr class="table-header">
      <th>Avatar</th>
      <th>Role</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password
      <span (click)="handlePassword()" class="btn btn-secondary small"><i class="fas fa-eye"></i></span></th>
      <th class="text-center">EDIT</th>
    </tr>
    </thead>
    <tbody class="table-tabs text-center">
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.role}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>TODO</td>
      <td><button class="btn btn-success justify-content-center" (click)="updateUser(user.id)">
        <i class="fas fa-edit"></i> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
