@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: lightslategray !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Change the background color of the input fields */
input[type="datetime-local"],
input[type="text"],
input[type="number"],
input[type="email"],
input[type="option"],
input[type="file"],
input[type="image"],
input[name="doctorLastName"],
label[for="imageInput"],
select[name="select"],
select[name="specie"],
select[name="animalType"],
select[name="role"] {
  background-color: #cecbcb;
}

.bgc{
  background-color: #cecbcb;
}
