<div class="container text-center mt-2 ">
  <div class="h1">Edit Users</div>
</div>
<div class="container w-50 h-75">
  <form (ngSubmit)="!userUpdateForm.invalid && updateUser(id)" #userUpdateForm="ngForm">
    <fieldset class="form-group text-center">
      <label for="inputState">Role</label>
      <select id="inputState" class="form-control text-center" name="role" [(ngModel)]="user.role" required="required" #role= "ngModel">
        <option>ADMIN</option>
        <option>DEV</option>
        <option>USER</option>
      </select>
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Email</label>
      <input type="text" [(ngModel)]="user.email" class="form-control text-center" name="email"  required = "required"  #email = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Password</label>
      <input type="text" [(ngModel)]="user.password" class="form-control text-center" name="password" required = "required"  #password = "ngModel">
    </fieldset>
    <br>
    <div class="btn-group">
      <button class="btn btn-success " type="submit"> UPDATE </button>
      <button class="btn btn-warning" type="reset"> RESET </button>
    </div>



  </form>

  <!--  <div class="container">-->
  <!--    <div class="alert alert-success text-center " *ngIf="deleteMessage!=''">-->
  <!--      Deleted Successfully!-->
  <!--    </div>-->
  <!--  </div>-->

</div>
