<div class="container vh-100">
  <div class="container text-center mt-2 ">
    <div class="h1">Owners</div>
  </div>
  <table class="table table-dark table-bordered table-hover text-center">
    <thead class="thead-dark text-center">
    <tr class="table-header">
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th colspan="2" class="text-center">EDIT</th>
    </tr>
    </thead>
    <tbody class="table-tabs text-center">
    <tr *ngFor="let owner of owners">
      <td>{{ owner.id }}</td>
      <td>{{ owner.firstName }}</td>
      <td>{{ owner.lastName }}</td>
      <td>{{ owner.email }}</td>
      <td>{{ owner.phoneNumber }}</td>
      <td>
        <button class="btn btn-info" (click)="getOwnerById(owner.id)">
          <i class="fas fa-circle-info"></i> Details</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteOwner(owner.id)">
          <i class="fas fa-trash-alt"></i> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="col-1 mt-2">
    <button class="btn btn-dark" (click)="createOwner()">
      <i class="fas fa-plus"></i> Create
    </button>
  </div>
</div>
