<h1 class="h1 text-center">
  REGISTER A DOCTOR
</h1>
<div class="container w-75 h-75">
  <form (ngSubmit)="!doctorCreateForm.invalid && createDoctor(createdDoctor)" #doctorCreateForm="ngForm">
    <fieldset class="form-group justify-content-center text-center">
      <label>First Name </label>
      <input type="text" [(ngModel)]="createdDoctor.firstName" class="form-control text-center" name="firstName" required = "required" >
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="createdDoctor.lastName" class="form-control text-center" name="lastName" required = "required" #lastName = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Speciality</label>
      <input type="text" [(ngModel)]="createdDoctor.speciality" class="form-control text-center" name="speciality" required = "required" #speciality = "ngModel">
    </fieldset>
    <fieldset class="form-group text-center">
      <label>Age</label>
      <input type="number" [(ngModel)]="createdDoctor.age" class="form-control text-center" name="age" required = "required" #age = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Years Of Experience</label>
      <input type="number" [(ngModel)]="createdDoctor.yearsOfExperience" class="form-control text-center" name="yearsOfExperience" required = "required" #yearsOfExperience = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Email</label>
      <input type="text" [(ngModel)]="createdDoctor.user.email" class="form-control text-center" name="email" required = "required">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Username</label>
      <input type="text" [(ngModel)]="createdDoctor.user.username" class="form-control text-center" name="username" required = "required">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Password</label>
      <input type="text" [(ngModel)]="createdDoctor.user.password" class="form-control text-center" name="password" required = "required">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label for="inputState">Role</label>
      <select id="inputState" class="form-control text-center" name="role" [(ngModel)]="createdDoctor.user.role" required="required" #role= "ngModel">
        <option>ADMIN</option>
        <option>DOCTOR</option>
      </select>
    </fieldset>
    <br>

    <div class="btn-group">
      <button class="btn btn-success " type="submit"> SAVE </button>
      <button class="btn btn-warning" type="reset"> RESET </button>
    </div>
  </form>
</div>
