<header>
  <nav class = "navbar navbar-expand-md navbar-dark bg-dark" >
    <div class="navbar-brand logo" routerLink="/welcome">
      <img src="favicon.ico" alt="logo" width="50px" />
    </div>
    <ul class="navbar-nav">
      <li><a *ngIf="authService.isUserLoggedIn()" class="nav-link fw-bold" routerLink="/appointments">APPOINTMENTS</a></li>
      <li><a *ngIf="authService.isUserLoggedIn()" class="nav-link fw-bold" routerLink="/doctors">DOCTORS</a></li>
      <li><a *ngIf="authService.isUserLoggedIn()" class="nav-link fw-bold" routerLink="/animals">ANIMALS</a></li>
      <li><a *ngIf="authService.isUserLoggedIn()" class="nav-link fw-bold" routerLink="/consultations">CONSULTATIONS</a></li>
      <li><a *ngIf="authService.isUserLoggedIn()" class="nav-link fw-bold" routerLink="/adoptions">ADOPTION</a></li>
      <li><a *ngIf="authService.isUserLoggedIn()" class="nav-link fw-bold" routerLink="/users">USERS</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li class="nav-link fw-bold fst-italic" *ngIf="sessionStorage.getItem('Authenticated User')">Welcome {{sessionStorage.getItem('Authenticated User')}}</li>
      <li><a class="nav-link" *ngIf="!authService.isUserLoggedIn()"  routerLink="/login" >LOGIN</a></li>
      <li><a class="nav-link" *ngIf="authService.isUserLoggedIn()"  routerLink="/logout" >LOGOUT</a></li>
    </ul>
  </nav>
</header>
