<div class="container vh-100">
  <br>
  <br>
  <br>
  <br>
  <br>
    <h1 class="text-center">Welcome to the VetClinic Management App</h1>
  <ul class="nav flex-column">
    <li class="badge nav-item">
      <a class=" nav-link active fs-3" routerLink="/doctors-list" >DOCTORS</a>
    </li>
    <li class="badge nav-item">
      <a class="nav-link active fs-3" routerLink="/animals-list">ANIMALS</a>
    </li>
    <li class="badge nav-item active fs-3">
      <a class="nav-link" routerLink="/consulations">CONSULTATIONS</a>
    </li>
    <li class="badge nav-item active fs-3">
      <a class="nav-link" routerLink="/prescriptions">PRESCRIPTIONS</a>
    </li>
    <li class="badge nav-item active fs-3">
      <a class="nav-link" routerLink="/workingHours">WORKING HOURS</a>
    </li>
    <li class="badge nav-item active fs-3">
      <a class="nav-link" routerLink="/users-list">USERS</a>
    </li>
  </ul>
</div>
