<h1 class="h1 text-center mt-3">
  REGISTER ANIMAL
</h1>
<div class="container w-50 h-75">
  <form (ngSubmit)="!animalCreateForm.invalid && createAnimal()" #animalCreateForm="ngForm">
    <fieldset class="form-group justify-content-center text-center">
      <label>Nickname</label>
      <input type="text" [(ngModel)]="createdAnimal.nickname" class="form-control text-center" name="nickname" required="required">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label for="inputState">Animal Type</label>
      <select id="inputState" class="form-control text-center" name="animalType" [(ngModel)]="createdAnimal.animalType" required="required" (change)="updateSpecies()">
        <option>Cat</option>
        <option>Dog</option>
        <option>Hamster</option>
        <option>Rabbit</option>
      </select>
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Species</label>
      <select [(ngModel)]="createdAnimal.specie" class="form-control text-center" name="specie" required="required">
        <option *ngFor="let species of speciesOptions" [value]="species">{{ species }}</option>
      </select>
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Age</label>
      <input type="number" [(ngModel)]="createdAnimal.age" class="form-control text-center" name="age" required="required">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Weight(g)</label>
      <input type="number" [(ngModel)]="createdAnimal.weight" class="form-control text-center" name="weight" required="required">
    </fieldset>
    <br>
    <div class="btn-group">
      <button class="btn btn-success" type="submit"> SAVE </button>
      <button class="btn btn-warning" type="reset"> RESET </button>
    </div>
  </form>
</div>
