<div class="container mt-3">
  <h1 class="h1 text-center fw-bold form-label">
    UPDATE ANIMAL
  </h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="!updateCreateForm.invalid && updateAnimal(id)" #updateCreateForm="ngForm"
            enctype="multipart/form-data">
        <div class="text-center">
          <img [src]="retrievedImage" alt="Animal Image" class="img-fluid" width="200px" height="200px">
        </div>
        <br>
        <div class="mb-3 input-group">
          <label class="input-group-text" for="image">
            <fa-icon icon="image"></fa-icon>
          </label>
          <input type="file" #imageInput name="image" id="image" accept="image/*" (change)="onFileSelected($event)"
                 class="form-control"></div>
        <br>
        <div *ngIf="image" class="text-center">
          <img [src]="imagePreview" alt="Image Preview" class="img-preview">
        </div>
      </form>
    </div>

    <div class="col-md-6 text-center">
      <h1 class="h1 text-center fw-bold form-label">
        ANIMAL INFO
      </h1>
      <form (ngSubmit)="!updateCreateForm.invalid && updateAnimal(id)" #updateCreateForm="ngForm"
            enctype="multipart/form-data" class="text-center">
        <fieldset class="form-group text-center">
          <label class="fs-6 fw-bold form-label">Nickname</label>
          <input type="text" [(ngModel)]="animal.nickname" class="form-control text-center" name="nickname"
                 required="required">
        </fieldset>
        <br>
        <fieldset class="form-group text-center">
          <label class="fs-6 fw-bold form-label" for="inputState">Animal Type</label>
          <select id="inputState" class="form-control bgc text-center" name="animalType" [(ngModel)]="animal.animalType"
                  required="required" #animalType="ngModel">
            <option>Cat</option>
            <option>Dog</option>
            <option>Hamster</option>
            <option>Rabbit</option>
          </select>
        </fieldset>
        <br>
        <fieldset class="form-group text-center">
          <label class="fs-6 fw-bold form-label">Specie</label>
          <input type="text" [(ngModel)]="animal.specie" class="form-control text-center" name="specie"
                 required="required" #specie="ngModel">
        </fieldset>
        <br>
        <fieldset class="form-group text-center">
          <label class="fs-6 fw-bold form-label">Age</label>
          <input type="number" [(ngModel)]="animal.age" class="form-control text-center" name="age" required="required"
                 #age="ngModel">
        </fieldset>
        <br>
        <fieldset class="form-group text-center">
          <label class="fs-6 fw-bold form-label">Weight</label>
          <input type="number" [(ngModel)]="animal.weight" class="form-control text-center" name="weight"
                 required="required" #weight="ngModel">
        </fieldset>
        <br>
        <fieldset class="form-group text-center">
          <div class="form-check d-flex justify-content-center align-items-center">
            <input type="checkbox" class="form-check-input form-label custom-checkbox" id="forAdoption"
                   [(ngModel)]="animal.forAdoption" name="forAdoption">
            <label class="fs-6 fw-bold" for="forAdoption">&nbsp;For Adoption</label>
          </div>
        </fieldset>
        <br>
        <div class="btn-group d-flex justify-content-center">
          <button class="btn btn-success" type="submit">
            <fa-icon icon="save"></fa-icon> UPDATE
          </button>
          <button class="btn btn-info" (click)="updateImage()" [disabled]="!imageUploaded">
            <fa-icon icon="image"></fa-icon> UPDATE IMAGE
          </button>
          <button class="btn btn-danger" type="reset">
            <fa-icon icon="sync-alt"></fa-icon> RESET
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
