<div class="container vh-100">
  <div class="container text-center mt-2 ">
    <div class="h1">Consultations</div>
  </div>
  <table class="table table-dark">
    <thead class="thead-dark text-center">
    <tr class="table-header">
      <th>ID</th>
      <th>Date</th>
      <th>Pacient Code</th>
      <th>Doctor's Name</th>
      <th colspan="2" class="text-center">EDIT</th>
    </tr>
    </thead>
    <tbody class="table-tabs text-center">
    <tr *ngFor="let consultation  of consultations">
      <td>{{consultation.id}}</td>
      <td>{{consultation.date | date: 'M/d/yyyy, h:mm a'}}</td>
      <td>{{consultation.consultatedAnimal.animalCode}}</td>
      <td>Dr. {{consultation.doctorLastName}}</td>
      <td><button (click)="deleteConsultation(consultation.id)" class="btn btn-danger">Delete</button></td>
      <td><button (click)="updateConsultation(consultation.id)" class="btn btn-info">Update</button></td>
    <tr >
    </tr>
    </tbody>

    <div class="col-1 mt-2">
      <button routerLink="/create-consultation" class="btn btn-dark" >Create</button>
    </div>
  </table>
  <div class="container">
    <div class="alert alert-success text-center " *ngIf="deleteMessage!=''">
      Deleted Successfully!
    </div>
  </div>

</div>
