<div class="container vh-100">
  <div class="container text-center mt-2 ">
    <div class="h1">Consultations</div>
  </div>
  <table class="table table-dark">
    <thead class="thead-dark text-center">
    <tr class="table-header">
      <th>Avatar</th>
      <th>Nickname</th>
      <th>Animal Type</th>
      <th>Specie</th>
      <th>Age</th>
      <th>Weight(kg)</th>
      <th colspan="2" class="text-center">EDIT</th>
    </tr>
    </thead>
    <tbody class="table-tabs text-center">
    <tr >
    </tr>
    </tbody>

    <div class="col-1 mt-2">
      <button (click)="createConsultation()" routerLink="/create-animal" class="btn btn-dark" >Create</button>
    </div>
  </table>
  <div class="container">
    <div class="alert alert-success text-center " *ngIf="deleteMessage!=''">
      Deleted Successfully!
    </div>
  </div>

</div>
