<div class="container vh-100">
  <div class="container text-center mt-2 ">
    <div class="h1">Consultations</div>
  </div>
  <div class="container">
    <div class="alert alert-danger text-center " *ngIf="deleteMessage!=''">
      Deleted Successfully!
    </div>
  </div>
  <table class="table table-dark table-bordered table-hover text-center">
    <thead class="thead-dark text-center">
    <tr class="table-header">
      <th>ID</th>
      <th>Date</th>
      <th>Pacient Code</th>
      <th>Doctor's Name</th>
      <th colspan="2" class="text-center">EDIT</th>
    </tr>
    </thead>
    <tbody class="table-tabs text-center">
    <tr *ngFor="let consultation  of consultations">
      <td>{{ consultation.id }}</td>
      <td>{{ consultation.date | date: 'MM/dd/yyyy, hh:mm a' }}</td>
      <td>{{ consultation.consultatedAnimal.animalCode }}</td>
      <td>Dr. {{ consultation.doctorLastName }}</td>
      <td>
        <button (click)="updateConsultation(consultation.id)" class="btn btn-info">
          <fa-icon icon="edit"></fa-icon> Update</button>
      </td>
      <td>
        <button (click)="deleteConsultation(consultation.id)" class="btn btn-danger">
          <fa-icon icon="trash-alt"></fa-icon>  Delete</button>
      </td>
    <tr>
    </tr>
    </tbody>
  </table>
  <div class="col-1 mt-2">
    <button routerLink="/create-consultation" class="btn btn-dark">
      <fa-icon icon="plus"></fa-icon>  Create</button>
  </div>
  <div class="dropdown">
    <br>
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <fa-icon icon="download"></fa-icon>  Export
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li class="text-center">
        <button (click)="downloadConsultationsExcel()" class="btn btn-dark mt-2 green ">
          <fa-icon icon="file-excel"></fa-icon>  Excel</button>
      </li>
      <li class="text-center">
        <button (click)="downloadConsultationsWord()" class="btn btn-dark mt-2 blue ">
          <fa-icon icon="file-word"></fa-icon>  Word</button>
      </li>
    </ul>
  </div>

</div>
